.footer {
  max-width: 880px;
  margin: auto;
  padding-bottom: 60px;
  margin-top: 67px;
  color: #545454;    
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em; 
}

@media screen and (max-width: 1023px) {
  .footer {
      margin-left: 72px;
      margin-right: 72px;
      padding-bottom: 36px;
      margin-top: 48px;
  }
}

@media screen and (max-width: 927px) {
  .footer {
      margin-left: 38px;
      margin-right: 38px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
      font-size: 14px;
      line-height: 17px;  
      margin-left: 19px;
      margin-right: 19px;

  }
} 