.profile__top {
    display: flex;
    max-height: 40px;
    height: min-content;
    width: fit-content;
    margin-right: 50px;
}

@media screen and (max-width: 650px) {
    .profile__top {        
        margin: auto;    
        max-height: 26px;   
    }
  }  